.container {
margin: 5%;
padding:30px 30px 20px 30px;
line-height:10px;
}
.content-header-title {
font-size:24px;
font-weight:600;
}
.header-content-section {
line-height:24px;
}

.duration-italic, .position-italic{
font-style:italic;
font-weight:bold;
}
.exp-main-header {
line-height:25px;
}
.exp-company-header {
font-size:22px;
font-weight:bold;
margin-top:10px;
}
.lang-key {
font-weight:bold;
}
.exp-sub-header,.proj-main-headers{
    font-weight: bold;
    font-size:20px;
    margin-top:10px;
}

hr {
    color: gray;

}